<table class="table table-responsive-sm table-hover table-outline mb-0">
    <thead class="thead-light">
      <tr>
        <th class="text-center">Title</th>
        <th class="text-center">Description</th>
        <th class="text-center">Sondage</th>
        <th class="text-center">Vote</th>
      </tr>
    </thead>
    <tbody *ngFor='let element of listeSujet | reverse, let i=index' >
      <tr *ngIf='i'>
        <td class="text-center">
          <div>{{element.title}}{{i}} </div>
        </td>
        <td class="text-center">
        {{element.description}}
        </td>
        <td class="text-center">
          <div> OUI </div>
       {{(element.oui) * 100/  element.totale | number:'1.0-0'}}%
       </td>
       <td>
       <div>NON</div>
       {{(element.non )*100/ element.totale | number:'1.0-0'}} %
        </td>
        <td class="text-center">
          <button type="button" class="btn btn-success"[routerLink]="['/vote', element._id]" >Voter</button>
        </td>
      </tr>
      
    </tbody>
  </table>